html
  head
    meta(charset = "utf-8")
    title Dog Roster
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
  body
    .container
      
      h1#idexample Dog Roster
      p#classexample Dog Check In / Check Out
      br

      table
        tr
          th Name
          th Breed
          th Age
          th Actions
        each dog in dogs
          tr 
            td= dog.name
            td= dog.breed
            td= dog.age
            td
                a(href="/"+dog._id) View | 
                a(href="/edit/"+dog._id) Edit | 
                a(href="/destroy/"+dog._id) Destroy
      br

      form(action="create" method="post")
        .form-group
          label(for='name') Name:
          input#name.form-control(type='text', placeholder='Please enter dogs name' name='name')
        .form-group
          label(for='breed') Breed:
          input#breed.form-control(type='text', placeholder='Please enter breed name' name='breed')
        .form-group
          label(for='age') Age:
          input#age.form-control(type='number', placeholder='Please enter dogs age' name='age')
        .form-group
          button.btn.btn-primary(type='submit') Submit